@{
    ViewData["Title"] = "Home page";
    Layout = "_layout";
}
@model GamesComp__ASP.Models.AccountViewModel
<body>
    <button><a asp-controller="Home" asp-action="CreateAccount">Create account</a></button>
    <button><a asp-controller="Home" asp-action="Login">Login</a></button>
</body>
