@{                
          Layout = "_layout";
}


<!DOCTYPE html>

<html>
<head>
    <title>Create account</title>
</head>
<body>
        <input type="text" />
        <input type="password" />
        <input type="email" />
        <input type="tel" />
</body>
</html>
